@import 'vue/fonts.css';
:root {
	--side-bar-bg-color: #fff;
	--control-text-color: #777;
	--font-sans-serif: 'Ubuntu', 'Source Sans Pro', sans-serif !important;
	--font-monospace: 'Fira Code', 'Roboto Mono', monospace !important;
}
.vditor-reset {
	font-size: 16px;
	font-family: var(--font-sans-serif);
	color: rgba(255, 255, 255, 0.87);
	-webkit-font-smoothing: antialiased;
	line-height: 1.6rem;
	letter-spacing: 0;
	background-color: rgb(26, 26, 26) !important;
}

.vditor-reset a,
.vditor-ir__link {
	color: #42b983;
	font-weight: 600;
	padding: 0 2px;
	text-decoration: none;
}

.vditor-reset h1 {
	padding-bottom: 0.4rem;
	font-size: 2.2rem;
	line-height: 1.3;
}

.vditor-reset h2 {
	font-size: 1.75rem;
	line-height: 1.225;
	margin: 35px 0 15px;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #ddd;
}

.vditor-reset h3 {
	font-size: 1.4rem;
	line-height: 1.43;
	margin: 20px 0 7px;
}
.vditor-reset h4 {
	font-size: 1.2rem;
}

.vditor-reset h5 {
	font-size: 1rem;
}
.vditor-reset h6 {
	font-size: 1rem;
	color: #777;
}

.vditor-reset h1,
.vditor-reset h2,
.vditor-reset h3,
.vditor-reset h4,
.vditor-reset h5,
.vditor-reset h6 {
	white-space: pre-wrap;
	position: relative;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-weight: bold;
	line-height: 1.4;
	cursor: text;
	color: rgba(255, 255, 255, 0.87);
}
.vditor-reset h1::before {
	margin-top: 1.4em;
}
.vditor-reset h2::before {
	margin-top: 1em;
}
.vditor-reset h3::before {
	margin-top: 0.5em;
}
.vditor-reset h4::before {
	margin-top: 0.45em;
}
.vditor-reset h5::before {
	margin-top: 0.25em;
}
.vditor-reset h6::before {
	margin-top: 0.25em;
}
.vditor-reset p,
blockquote,
ul,
ol,
dl,
table {
	margin: 0.8em 0;
}

.vditor-reset p table {
	white-space: pre-wrap;
}

.vditor-reset p {
	line-height: 1.6rem;
	word-spacing: 0.05rem;
}

.vditor-reset hr {
	height: 2px;
	padding: 0;
	margin: 16px 0;
	background-color: #e7e7e7;
	border: 0 none;
	overflow: hidden;
	box-sizing: content-box;
}

.vditor-reset blockquote {
	border-left: 4px solid #42b983;
	padding: 10px 15px;
	color: #777;
	background-color: rgba(66, 185, 131, 0.1);
	line-height: 1.6;
	font-size: 16px;
}

.vditor-reset code {
	font-size: 14px;
	border-radius: 2px;
	font-family: var(--font-monospace) !important;
}

.vditor-reset code:not(.hljs):not(.highlight-chroma) {
	padding: 2px 4px;
	border-radius: 2px;
	font-size: 0.92rem;
	color: #e96900;
	background-color: rgb(0, 0, 0, 0.6);
	text-align: left;
	vertical-align: initial;
}
.vditor-reset code[class*='language-']:not(.hljs) {
	color: inherit;
	background-color: rgb(36, 36, 36);
	border: none;
}
.vditor-reset code[class*='language-']:not(.hljs) .vditor-linenumber__rows {
	top: 0.2em;
}
.vditor-reset code.hljs {
	-webkit-font-smoothing: initial;
	border-radius: 8px;
	font-family: var(--font-monospace);
	font-size: 0.85rem;
	word-wrap: normal;
	background-color: rgb(36, 36, 36);
	border: none;
}

.vditor-reset .language-abc svg,
.vditor-reset .language-abc path {
	fill: currentColor;
	color: rgb(62, 62, 62);
}

.vditor-reset .language-graphviz polygon {
	fill: transparent;
}
